.card {
    width: 240px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;
}

.card-title {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

