.layout {
    display: grid;
    grid-template-areas: "navbar header" "navbar content";
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    width: 100%;
    height: 100vh;
}

.content {
    grid-area: content;
    overflow-y: auto;
    width: 100%;
    padding: 0;
}
