.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #3398da;
}

.navbar-link {
    width: 100%;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 70px;
    color: white;
}

.navbar-active {
    background-color: #21618c;
}

.navbar-link:hover {
    width: 100%;
    background-color: #21618c;
}

